.active-categories-list {
  display: flex;
  height: 100%;
  gap: var(--space-xs);
  padding: var(--space-xs);
  border-radius: var(--space-md);
  border: dashed color-mix(in srgb, var(--color-accent-dark) 5%, transparent)
    var(--border-lg);
  background-color: var(--color-secondary-light);
  overflow: auto hidden;
  scrollbar-width: none;
}

.active-category-list-item {
  background-color: var(--color-primary);
  height: 100%;
  width: var(--space-lg);
  border-radius: var(--space-xs);
  box-shadow: var(--border-md) var(--border-md) var(--border-md)
    color-mix(in srgb, var(--color-neutral-dark) 15%, transparent);
  transition: all 250ms ease-in-out;
}

.active-category-list-item-line {
  background-color: var(--color-category-fill);
  width: var(--space-lg);
  height: 100%;
  border-radius: var(--space-xs);
  transition: all 300ms ease-in-out;
}

.active-category-list-item-info-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--border-lg);
  visibility: hidden;
  width: 0;
  height: 0;
  padding: var(--space-xs);
  border-radius: var(--space-xs);
  opacity: 0;
  background-color: var(--color-primary);
  box-shadow: var(--border-xs) var(--border-xs) var(--space-xs)
    color-mix(in srgb, var(--color-accent-dark) 20%, transparent);
  transition:
    opacity 600ms ease-in-out 0ms,
    width 400ms ease-in-out 0ms,
    height 400ms ease-in-out 0ms;
}

.active-category-list-item-title,
.active-category-list-item-cost,
.active-category-list-item-priority {
  opacity: 0;
  visibility: hidden;
  font-size: var(--font-medium);
  letter-spacing: var(--medium-text-letter-spacing);
  line-height: var(--font-medium);
  height: var(--font-medium);
  color: var(--color-neutral-dark);
  transition: all 0ms ease-in-out 0ms;
}

.active-category-list-item-info-block .active-category-list-item-cost {
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--font-small);
  height: var(--font-small);
}

.active-category-list-item-info-block .active-category-list-item-priority {
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--font-small);
  height: var(--font-small);
  color: var(--color-accent-dark);
}

.active-category-list-item:is(:hover, :focus) {
  transform: scale(1.01);
  box-shadow: var(--border-lg) var(--border-lg) var(--border-lg)
    color-mix(in srgb, var(--color-neutral-dark) 10%, transparent);
  outline: none;
}

.active-category-list-item:is(:hover, :focus) .active-category-list-item-line {
  width: var(--space-lg);
  min-height: 0;
}

.active-category-list-item:is(:hover, :focus)
  :is(
    .active-category-list-item-line .active-category-list-item-info-block,
    .active-category-list-item-line .active-category-list-item-info-block
  ) {
  visibility: visible;
  width: calc(var(--space-xl) * 4);
  height: calc(var(--space-xs) * 12);
  opacity: 1;
  transition:
    opacity 550ms ease-in-out 50ms,
    width 350ms ease-in-out 50ms,
    height 350ms ease-in-out 50ms;
}

.active-category-list-item:is(:hover, :focus)
  .active-category-list-item-line
  .active-category-list-item-info-block
  :is(
    .active-category-list-item-title,
    .active-category-list-item-cost,
    .active-category-list-item-priority
  ) {
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
  overflow: auto hidden;
  scrollbar-width: none;
  transition: all 250ms ease-in-out 200ms;
}
