@import url("./my-categories.css");
@import url("./active-categories.css");

.categories-title {
  font-size: var(--font-medium);
  letter-spacing: var(--medium-text-letter-spacing);
  line-height: 100%;
  color: var(--color-neutral-dark);
}

.active-categories {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  gap: var(--space-md);
  padding: var(--space-md);
  border-radius: var(--space-lg);
  background-color: var(--color-primary);
  box-shadow: var(--border-md) var(--border-md) var(--border-lg)
    color-mix(in srgb, var(--color-secondary-dark) 20%, transparent);
}

.my-categories {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
  grid-row: 2 / 5;
  gap: var(--space-md);
  padding: var(--space-md);
  border-radius: var(--space-lg);
  background-color: var(--color-primary);
  box-shadow: var(--border-md) var(--border-md) var(--border-lg)
    color-mix(in srgb, var(--color-secondary-dark) 20%, transparent);
}
