button {
  font-family: inherit;
}

.button-small {
  padding: var(--space-xs) var(--space-lg);
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--font-small);
}

.button-medium {
  padding: var(--space-xs) var(--space-xl);
  font-size: var(--font-medium);
  letter-spacing: var(--medium-text-letter-spacing);
  line-height: var(--font-medium);
}

.button-large {
  padding: var(--space-xs) var(--space-2xl);
  font-size: var(--font-large);
  letter-spacing: var(--large-text-letter-spacing);
  line-height: var(--font-large);
}

