input,
label {
  font-family: inherit;
}

.input-label {
  display: flex;
  color: var(--color-accent-dark);
}

.label-col {
  flex-direction: column;
  align-items: flex-start;
}

.label-row {
  flex-direction: row;
  align-items: center;
}

.label-small {
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
}

.label-small span {
  height: var(--font-small);
  line-height: var(--font-small);
}

.label-medium {
  font-size: var(--font-medium);
  letter-spacing: var(--medium-text-letter-spacing);
}

.label-medium span {
  height: var(--font-medium);
  line-height: var(--font-medium);
}

.label-large {
  font-size: var(--font-large);
  letter-spacing: var(--large-text-letter-spacing);
}

.label-large span {
  height: var(--font-large);
  line-height: var(--font-large);
}

.label-small-gap {
  gap: var(--space-xs);
}

.label-medium-gap {
  gap: var(--space-md);
}

.label-large-gap {
  gap: var(--space-lg);
}

.input {
  border-radius: 100px;
  border: solid var(--border-md) var(--color-secondary-light);
  background-color: transparent;
  color: var(--color-accent-light);
  transition: all 400ms ease-in-out;
}

.input::placeholder {
  color: var(--color-accent-dark);
  opacity: 0.6;
}

.input:hover::placeholder {
  color: var(--color-accent-light);
  opacity: 0.8;
}

.input:focus::placeholder {
  color: var(--color-secondary-light);
  opacity: 0.6;
}

.input:hover {
  border-color: var(--color-accent-dark);
}

.input:focus {
  border-color: var(--color-accent-dark);
  background-color: var(--color-accent-dark);
  color: var(--color-secondary-light);
  outline: none;
}

.input-small {
  width: calc(var(--space-3xl) * 4);
  height: calc(var(--font-small) + var(--space-xs) * 2 + var(--border-md) * 2);
  padding: var(--space-xs) var(--space-md);
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--font-small);
}

.input-medium {
  width: calc(var(--space-3xl) * 6);
  height: calc(var(--font-medium) + var(--space-xs) * 2 + var(--border-md) * 2);
  padding: var(--space-xs) var(--space-md);
  font-size: var(--font-medium);
  letter-spacing: var(--medium-text-letter-spacing);
  line-height: var(--font-medium);
}

.input-large {
  width: calc(var(--space-3xl) * 8);
  height: calc(var(--font-large) + var(--space-xs) * 2 + var(--border-md) * 2);
  padding: var(--space-xs) var(--space-md);
  font-size: var(--font-large);
  letter-spacing: var(--large-text-letter-spacing);
  line-height: var(--font-large);
}
