textarea {
  font-family: inherit;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

textarea.input-small {
  padding: var(--space-md) var(--space-md);
  border-radius: var(--space-md);
  
}

textarea.input-medium {
  border-radius: var(--space-lg);
  padding: var(--space-md) var(--space-md);
}

textarea.input-large {
  border-radius: var(--space-xl);
  padding: var(--space-md) var(--space-md);
}