.choose-categories-main-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  height: 100%;
  min-height: 0;
  padding: var(--space-md);
  background-color: var(--color-primary);
  border-radius: var(--space-lg);
  box-shadow: var(--border-md) var(--border-md) var(--border-lg)
    color-mix(in srgb, var(--color-secondary-dark) 20%, transparent);
}

.box-title {
  font-size: var(--font-medium);
  letter-spacing: var(--medium-text-letter-spacing);
  line-height: 100%;
  color: var(--color-neutral-dark);
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  flex-grow: 1;
  min-height: 0;
  overflow-y: auto;
}

.category-box {
  display: flex;
  justify-content: space-between;
  padding: var(--space-xs) var(--space-md);
  border-radius: var(--space-md);
  background-color: var(--color-secondary-light);
}

.category-title {
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
  color: var(--color-neutral-dark);
}

.category-number {
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
  color: var(--color-accent-dark);
}

.categories-widget-button-box {
  padding: 0 var(--space-xl);
}