.categories-title {
  font-size: var(--font-medium);
  letter-spacing: var(--medium-text-letter-spacing);
  line-height: 100%;
  color: var(--color-neutral-dark);
}

.active-categories {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  gap: var(--space-md);
  padding: var(--space-md);
  border-radius: var(--space-lg);
  background-color: var(--color-primary);
  box-shadow: var(--border-md) var(--border-md) var(--border-lg)
    color-mix(in srgb, var(--color-secondary-dark) 20%, transparent);
}

.active-categories-list {
  display: flex;
  height: 100%;
  gap: var(--space-xs);
  padding: var(--space-xs);
  border-radius: var(--space-md);
  border: dashed color-mix(in srgb, var(--color-accent-dark) 5%, transparent)
    var(--border-lg);
  background-color: var(--color-secondary-light);
  overflow: auto hidden;
  scrollbar-width: none;
}

.active-category-list-item {
  background-color: var(--color-primary);
  height: 100%;
  width: var(--space-lg);
  border-radius: var(--space-xs);
  box-shadow: var(--border-md) var(--border-md) var(--border-md)
    color-mix(in srgb, var(--color-neutral-dark) 15%, transparent);
  transition: all 250ms ease-in-out 350ms;
}

.active-category-list-item-line {
  background-color: var(--color-category-fill);
  width: var(--space-lg);
  height: 100%;
  border-radius: var(--space-xs);
}

.active-category-list-item-line-info-block {
  visibility: hidden;
  transition: all 300ms ease-in-out 20ms;
}

.active-category-list-item-info-block .active-category-list-item-title,
.active-category-list-item-info-block .active-category-list-item-cost,
.active-category-list-item-info-block .active-category-list-item-priority {
  opacity: 0;
  visibility: hidden;
  font-size: var(--font-medium);
  letter-spacing: var(--medium-text-letter-spacing);
  line-height: var(--font-medium);
  height: var(--font-medium);
  color: var(--color-neutral-dark);
}

.active-category-list-item-info-block .active-category-list-item-cost {
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--font-small);
  height: var(--font-small);
}

.active-category-list-item-info-block .active-category-list-item-priority {
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--font-small);
  height: var(--font-small);
  color: var(--color-accent-dark);
}

.active-category-list-item:hover,
.active-category-list-item:focus {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: var(--space-lg) calc(var(--space-2xl) * 3);
  visibility: visible;
  transform: scale(1.01);
  width: calc(var(--space-lg) + (var(--space-2xl) * 3));
  box-shadow: var(--border-lg) var(--border-lg) var(--border-lg)
    color-mix(in srgb, var(--color-neutral-dark) 10%, transparent);
  transition: all 250ms ease-in-out 20ms;
  outline: none;
}

.active-category-list-item:hover .active-category-list-item-line,
.active-category-list-item:focus .active-category-list-item-line {
  width: var(--space-lg);
  min-height: 0;
}

.active-category-list-item:hover .active-category-list-item-info-block,
.active-category-list-item:focus .active-category-list-item-info-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;
  gap: var(--border-lg);
  padding: var(--space-md) var(--space-md) var(--space-xs) var(--space-xs);
  width: calc(var(--space-2xl) * 3);
}

.active-category-list-item:hover
  .active-category-list-item-info-block
  .active-category-list-item-title,
.active-category-list-item:hover
  .active-category-list-item-info-block
  .active-category-list-item-cost,
.active-category-list-item:hover
  .active-category-list-item-info-block
  .active-category-list-item-priority,
.active-category-list-item:focus
  .active-category-list-item-info-block
  .active-category-list-item-title,
.active-category-list-item:focus
  .active-category-list-item-info-block
  .active-category-list-item-cost,
.active-category-list-item:focus
  .active-category-list-item-info-block
  .active-category-list-item-priority {
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
  overflow: auto hidden;
  scrollbar-width: none;
  transition: all 500ms ease-in-out 10ms;
}

.my-categories {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
  grid-row: 2 / 5;
  gap: var(--space-md);
  padding: var(--space-md);
  border-radius: var(--space-lg);
  background-color: var(--color-primary);
  box-shadow: var(--border-md) var(--border-md) var(--border-lg)
    color-mix(in srgb, var(--color-secondary-dark) 20%, transparent);
}

.my-categories-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: var(--space-md);
  min-height: 0;
  height: 100%;
  padding: var(--space-md);
  border-radius: var(--space-md);
  border: dashed color-mix(in srgb, var(--color-accent-dark) 5%, transparent)
    var(--border-lg);
  background-color: var(--color-secondary-light);
}

.my-category-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;
  padding: var(--space-md) var(--space-md)
    calc(var(--font-small) + var(--space-md)) var(--space-md);
  border-radius: var(--space-md);
  background-color: var(--color-primary);
  box-shadow: var(--border-md) var(--border-md) var(--border-lg)
    color-mix(in srgb, var(--color-secondary-dark) 20%, transparent);
  transition: all 350ms ease-in-out 10ms;
}

.my-category-list-item:hover,
.my-category-list-item:focus {
  transform: scale(1.02);
  box-shadow: var(--border-lg) var(--border-lg) var(--border-lg)
    color-mix(in srgb, var(--color-secondary-dark) 20%, transparent);
  outline: none;
}

.my-category-list-item-cost {
  font-size: var(--font-medium);
  letter-spacing: var(--medium-text-letter-spacing);
  line-height: var(--font-medium);
  color: var(--color-neutral-dark);
}

.my-category-list-item-title {
  font-size: var(--font-large);
  letter-spacing: var(--large-text-letter-spacing);
  line-height: var(--font-large);
  color: var(--color-accent-dark);
  transition: all 350ms ease-in-out 0ms;
}

.my-category-list-item:hover .my-category-list-item-title,
.my-category-list-item:focus .my-category-list-item-title {
  color: var(--color-category-fill);
  text-shadow: var(--border-xs) var(--border-md) var(--border-lg)
    color-mix(in srgb, var(--color-category-fill) 30%, transparent);
  transition: all 350ms ease-in-out 10ms;
}

.my-category-list-item-priority {
  align-self: flex-end;
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--font-small);
  color: var(--color-neutral-dark);
}

.my-category-list-item-color-line {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--font-small) + var(--space-xs));
  border-radius: 0 0 var(--space-md) var(--space-md);
  background-color: var(--color-category-fill);
  transition: all 350ms ease-in-out 0ms;
}

.my-category-list-item-color-line-hover-title {
  opacity: 0;
  visibility: hidden;
  font-size: var(--font-small);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--font-small);
  color: var(--color-primary);
  text-shadow: var(--border-md) var(--border-md) var(--border-md)
    color-mix(in srgb, var(--color-primary) 20%, transparent);
  transition: all 350ms ease-in-out 0ms;
}

.my-category-list-item:hover .my-category-list-item-color-line,
.my-category-list-item:focus .my-category-list-item-color-line {
  background-color: var(--color-sematic-good-light);
  transition: all 350ms ease-in-out 10ms;
}

.my-category-list-item:hover .my-category-list-item-color-line-hover-title,
.my-category-list-item:focus .my-category-list-item-color-line-hover-title {
  opacity: 1;
  visibility: visible;
  transition: all 350ms ease-in-out 10ms;
}
