@import "./shared/ui/button/button.css";
@import "./shared/ui/input/input.css";

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comic Relief";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/comic-relief-v2-cyrillic_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary: #e2e1f7;
  --color-secondary-light: #888ee3;
  --color-secondary-dark: #1b1c80;
  --color-accent-light: #1f24bf;
  --color-accent-dark: #484885;

  --font-small: 24px;
  --font-medium: 32px;
  --font-large: 48px;

  --small-text-letter-spacing: 0.01em;
  --medium-text-letter-spacing: -0.02em;
  --large-text-letter-spacing: 0.025em;

  --border-xs: 1px;
  --border-md: 2px;

  --space-xs: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 56px;

  background: var(--color-primary);
}

body {
  font-family: "Comic Relief", serif;
}

button,
input,
select,
textarea,
label {
  font-family: inherit;
}

textarea {
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
