@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Comic Relief";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/comic-relief-v2-cyrillic_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* ?Color */
  --color-primary: #e2e1f7;
  --color-secondary-light: #c0d3ed;
  --color-secondary-dark: #1f4e94;
  --color-accent-light: #489ac7;
  --color-accent-dark: #2363a8;
  --color-neutral: #2e466b;
  --color-sematic-bad-light: #d61f1f;
  --color-sematic-good-light: #17b619;

  /* ?Font */
  --font-small: 24px;
  --font-medium: 32px;
  --font-large: 48px;
  --small-text-letter-spacing: 0.01em;
  --medium-text-letter-spacing: -0.02em;
  --large-text-letter-spacing: 0.025em;
  --font-graph-small: 8px;
  --font-graph-medium: 16px;

  /* ?Border */
  --border-xs: 1px;
  --border-md: 2px;
  --border-lg: 4px;

  /* ?Space */
  --space-xs: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 56px;

  background: var(--color-primary);
}

body {
  font-family: "Comic Relief", serif;
  margin: 0;
}

textarea {
  font-family: inherit;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.error-massage {
  color: var(--color-sematic-bad);
  font-size: var(--font-small);
}
